<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add new</title>
    
</head>
<body>
    <h2>WELCOME TO ADD NEW PAGE</h2>
    <form method="post" action="/users/new">
        <textarea name="username" placeholder="enter username"></textarea>
        <br>
        <br>     
        <input type="name" name="id" placeholder="enter uniq id"/>
        <input type="email" name="email" placeholder="enter emial"/>
        <input type="password" name="password" placeholder="enter password"/>
        <button>ADD</button>
    </form>
</body>
</html>
